<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Login Portal</h1>
                    <h5>You can login here!</h5>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="logIn()"> 
                    <div class="mb-3">
                      <label class="form-label">Email address<span style="color: red;">*</span></label>
                      <input [class.is-invalid] = "loginForm.get('email')?.invalid && loginForm.get('email')?.touched" formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
                      <small [class.d-none]="loginForm.get('email')?.valid || loginForm.get('email')?.untouched" class="text-danger">Email address is required</small>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Password<span style="color: red;">*</span></label>
                      <input [class.is-invalid] = "loginForm.get('password')?.invalid && loginForm.get('password')?.touched"  formControlName="password"  type="password" class="form-control" id="exampleInputPassword1">
                      <small [class.d-none]="loginForm.get('password')?.valid || loginForm.get('password')?.untouched" class="text-danger">Password is required</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <a style="color: blue; margin-top: 10px;" routerLink="/signup">New User? Click to Sign up</a>
            </div>
        </div>
    </div>
</div>